<html>

<body>
	<h1>Here are your lucky numbers for today:  
		<%=	@lucky_number_1%>, 
		<%=	@lucky_number_2%>,
		<%=	@lucky_number_3%>,
		<%=	@lucky_number_4%>,
		<%=	@lucky_number_5%>
		<br>
		<br>
		Or you can just use the following:
		<%= 3 + 2%>
	</h1>

</body>
</html>